<div id="<%= dom_id article %>">
  <p class="article__show-title">
    <strong>Title:</strong>
    <%= link_to article.title, article_path(article) %>
  </p>

  <p class="article__show-description">
    <%= article.description %>
  </p>

</div>
