<h1 class="article__edit">Editing article</h1>

<div class="article__show">
  <%= render "form", article: @article %>
</div>

<br>

<div class="btn-group">
  <%= link_to "Show this article", @article, class: "btn-edit" %> 
  <%= link_to "Back to articles", articles_path, class: "btn-back" %>
</div>
