<h1 class="article__edit">New article</h1>

<div class="article__show">
  <%= render "form", article: @article %>
<div>

<br>

<div class="btn-group">
  <%= link_to "Back to articles", articles_path, class: "btn-back" %>
</div>
