<h1>Editing search analytic</h1>

<%= render "form", search_analytic: @search_analytic %>

<br>

<div>
  <%= link_to "Show this search analytic", @search_analytic %> |
  <%= link_to "Back to search analytics", search_analytics_path %>
</div>
