<div class="header">
  <h2><%= link_to 'Home', root_path, class: "header__home" %></h2>
  <div class="header__links">
    <p class="header__links-title">Analyze</p>
    <p><%= link_to "New article", new_article_path, class: "header__links-title btn" %></p>
  </div>
</div>